simulacion_mensaje.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"81d7e568.a4a558","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"temperatura,7,humedad,8,presion,7,x,7,y,8,z,8","payloadType":"str","x":170,"y":80,"wires":[["95dbad6e.2764d"]]},{"id":"95dbad6e.2764d","type":"mqtt out","z":"f6f2187d.f17ca8","name":"","topic":"1/sensor","qos":"","retain":"","broker":"b03e3cc5.3e657","x":340,"y":80,"wires":[]},{"id":"6a151be1.2496c4","type":"mqtt in","z":"f6f2187d.f17ca8","name":"","topic":"1/sensor","qos":"2","datatype":"auto","broker":"b03e3cc5.3e657","x":140,"y":380,"wires":[["b2bad01b.30387"]]},{"id":"b2bad01b.30387","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":320,"y":380,"wires":[]},{"id":"e22dbefc.9f267","type":"mqtt out","z":"f6f2187d.f17ca8","name":"","topic":"1/sensor","qos":"","retain":"","broker":"b03e3cc5.3e657","x":340,"y":140,"wires":[]},{"id":"9097abb2.0c1dc8","type":"mqtt out","z":"f6f2187d.f17ca8","name":"","topic":"1/sensor","qos":"","retain":"","broker":"b03e3cc5.3e657","x":340,"y":220,"wires":[]},{"id":"6ca64e9.d9c74b","type":"mqtt out","z":"f6f2187d.f17ca8","name":"","topic":"1/sensor","qos":"","retain":"","broker":"b03e3cc5.3e657","x":340,"y":280,"wires":[]},{"id":"5cfce586.9ea46c","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"temperatura,9,humedad,10,presion,6,x,9,y,5,z,12","payloadType":"str","x":170,"y":140,"wires":[["e22dbefc.9f267"]]},{"id":"dd8925c6.0f0528","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"temperatura,6,humedad,5,presion,8,x,11,y,10,z,14","payloadType":"str","x":170,"y":220,"wires":[["9097abb2.0c1dc8"]]},{"id":"8dfe5068.5b666","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"temperatura,11,humedad,12,presion,10,x,11,y,7,z,15","payloadType":"str","x":150,"y":280,"wires":[["6ca64e9.d9c74b"]]},{"id":"b03e3cc5.3e657","type":"mqtt-broker","name":"","broker":"rabbit","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]